<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CDatos.Properties.Settings.AgenciaInmoviliariaConnectionString"
            connectionString="Data Source=DESKTOP-M2DUKGS;Initial Catalog=AgenciaInmoviliaria;Integrated Security=True;Encrypt=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>